IP_SERVER=127.0.0.1
IP_MEMORIA=127.0.0.1
PUERTO_ESCUCHA=8002
TAM_MEMORIA=4096
TAM_PAGINA=64
ENTRADAS_POR_TABLA=4
CANTIDAD_NIVELES=2
RETARDO_MEMORIA=500
PATH_SWAPFILE=/home/utnso/swapfile.bin
PATH_INSTRUCCIONES=/home/utnso/revenge-of-the-cth-pruebas/
RETARDO_SWAP=1500
LOG_LEVEL=INFO
DUMP_PATH=/home/utnso/dump_files/